<footer>
<div class="footer-container">
  <div class="col-md-12">
    <ul class="socials">
      <a class="social" href="https://twitter.com/ugassrl" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
      <a class="social" href="https://www.facebook.com/ugassrl/" target="_blank"><i class="fa fa-facebook-square fa-3x" target="_blank"></i></a>
      <a class="social" href="https://www.youtube.com/channel/UCuT01f5_oQ95WRkoziZUF0Q" target="_blank"><i class="fa fa-youtube-play fa-3x" target="_blank"></i></a>
      <a class="social" href="https://soundcloud.com/uga-small-sat-lab" target="_blank"><i class="fa fa-soundcloud fa-3x" target="_blank"></i></a>
      <a class="social" href="https://github.com/spaceysciences" target="_blank"><i class="fa fa-github fa-3x"></i></a>
    </ul>
  </div>
      <!-- if statement for if NOT home page -->
  <div class="departments-container">
    <ul class="departments">
      <li><a target="_blank" href="http://www.uga.edu">The University of Georgia</a></li>
      <li><a target="_blank" href="http://www.crms.uga.edu">Center For GeoSpatial Research</a></li>
      <li><a target="_blank" href="http://geography.uga.edu">Department of Geography</a></li>
      <li><a target="_blank" href="http://www.math.uga.edu/">Department of Mathmatics</a></li>
      <li><a target="_blank" href="https://www.physast.uga.edu/">Department of Physics and Astronomy</a></li>
      <li><a target="_blank" href="http://www.engineering.uga.edu/">College of Engineering</a></li>
      <li><a target="_blank" href="http://www.marsci.uga.edu/">Department of Marine Sciences</a></li>
      <li><a target="_blank" href="http://research.uga.edu/">UGA Office of VP of Research</a></li>
      <li><a target="_blank" href="https://curo.uga.edu/">Center for Undergraduate Research</a></li>
      <li><a target="_blank" href="http://prs.afrl.kirtland.af.mil/UNP/">University Nanosat Program</a></li>
    </ul>
  </div>
      <!-- if statement for if NOT home page -->
</div>
</footer>
