<footer>
  <style media="screen">
    li{
      display: inline;
      padding: 0px 10px;
    }
  </style>
  <hr>
  <div class="footer-container">
    <div class="departments-container">
      <div class="footer-section">
        <p class="footer-header">Departments and Colleges</p>
        <ul class="departments">
          <li><a target="_blank" href="http://geography.uga.edu">Geography</a></li>
          <li><a target="_blank" href="http://www.math.uga.edu/">Mathematics</a></li>
          <li><a target="_blank" href="https://www.physast.uga.edu/">Physics and Astronomy</a></li>
          <li><a target="_blank" href="http://www.engineering.uga.edu/">Engineering</a></li>
          <li><a target="_blank" href="http://www.marsci.uga.edu/">Marine Sciences</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <p class="footer-header">Contact Us</p>
        <ul class="departments">
          <li><a target="_blank" href="contact">Contact Us</a></li>
          <li><a target="_blank" href="http://www.uga.edu">The University of Georgia</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <p class="footer-header">More</p>
        <ul class="departments">
          <li><a target="_blank" href="http://www.crms.uga.edu">Center For GeoSpatial Research</a></li>
          <li><a target="_blank" href="http://research.uga.edu/">UGA Office of VP of Research</a></li>
          <li><a target="_blank" href="https://curo.uga.edu/">Center for Undergraduate Research</a></li>
        </ul>
      </div>
    </div>

    <ul class="socials">
      <li><a class="social" href="https://twitter.com/ugassrl" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></li>
      <li><a class="social" href="https://www.facebook.com/ugassrl/" target="_blank"><i class="fab fa-facebook-square fa-2x" target="_blank"></i></a></li>
      <li><a class="social" href="https://www.youtube.com/channel/UCuT01f5_oQ95WRkoziZUF0Q" target="_blank"><i class="fab fa-youtube fa-2x" target="_blank"></i></a></li>
      <li><a class="social" href="https://soundcloud.com/uga-small-sat-lab" target="_blank"><i class="fab fa-soundcloud fa-2x" target="_blank"></i></a></li>
      <li><a class="social" href="https://github.com/spaceysciences" target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
    </ul>

  </div>
  <br><br>
</footer>
