<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top" style=" min-height:50px; position:sticky; top:0px;">
  <div class="container" style=" height:76px; margin-bottom:0px;">
    <div max-width="100">
      <a class="navbar-brand" href="/">
        <img src="/images/ssrl.svg" alt="" width="40%" height="40%">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-links justify-content-end" style="color:white;">

        <li class="nav-item">
          <a class="nav-link" href="missions">Missions </a>
        </li>

        <li class="nav-item external">
          <a class="nav-link" href="research">Publications</a>
        </li>

        <li class="nav-item external">
          <a class="nav-link" href="software">Software</a>
        </li>

        <!-- the dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown">
            Our Organization
          </a>
          <div class="dropdown-menu pull-left" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item drop-colors" href="about">Who We Are</a>
            <a class="dropdown-item drop-colors" href="alumni">Alumni</a>
            <a class="dropdown-item drop-colors" href="founding">Founding & History</a>
            <a class="dropdown-item drop-colors" href="facilities">Facilities</a>
            <a class="dropdown-item drop-colors" href="outreach">Outreach</a>
            <a class="dropdown-item drop-colors" href="partners">Partners</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" target="_blank"
            href="https://docs.google.com/forms/d/e/1FAIpQLSdMbivOgmDy3rj0YMjwWk5RLQpv_ylXxNlYugfCcLzv3Os53w/viewform?usp=sf_link">Apply</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="contact">Contact Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://gail.uga.edu/commit?search=90072000&desonly=1">Donate <span
              class="sr-only">(current)</span></a>
        </li>

      </ul>
    </div>
  </div>
</nav>
