<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top" style=" min-height:50px; position:sticky; top:0px;">
  <div class="container" style=" height:76px; margin-bottom:0px;">
    <a class="navbar-brand" href="/">
      <img src="/images/SSRL_Logo.svg" alt="" width="26px" height="26px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="">
      <ul class="navbar-nav navbar-links justify-content-end" style="color:white;">

        <li class="nav-item">
          <a class="nav-link" href="missions">Missions </a>
        </li>

        <li class="nav-item external">
          <a class="nav-link" href="research">Publications</a>
        </li>

        <li class="nav-item external">
          <a class="nav-link" href="software">Software</a>
        </li>

        <!-- the dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown">
              Our Organization
            </a>
            <div class="dropdown-menu pull-left" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item drop-colors" href="about">Who We Are</a>
              <a class="dropdown-item drop-colors" href="alumni">Alumni</a>
              <a class="dropdown-item drop-colors" href="founding">Founding & History</a>
              <a class="dropdown-item drop-colors" href="facilities">Facilities</a>
              <a class="dropdown-item drop-colors" href="outreach">Outreach</a>
              <a class="dropdown-item drop-colors" href="partners">Partners</a>
            </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://forms.gle/Epmro7FPUoG6weN16">Apply</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="contact">Contact Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://gail.uga.edu/commit?search=90072000&desonly=1">Donate <span class="sr-only">(current)</span></a>
        </li>

      </ul>
    </div>
  </div>
</nav>
