<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top" style=" min-height:50px; position:sticky; top:0px;">
  <div class="container" style=" height:76px; margin-bottom:0px;">
    <a class="navbar-brand" href="/">
      <img src="/images/SSRL_Logo.svg" alt="" width="26px" height="26px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="">
      <ul class="navbar-nav navbar-links justify-content-end" style="color:white;">
        <li class="nav-item">
          <a class="nav-link external" href="team">Team <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item external">
          <a class="nav-link" href="research">Research</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="missions">Missions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://piepieninja.typeform.com/to/Qp0m51">Apply</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://dar.uga.edu/funder/campaigns/uga-small-satellite-research-laboratory-help-us-go-to-space/">Donate</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
