---
title: Contact
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109138593-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109138593-1');
    </script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<!-- Javascript necesssary for secure contact form functionality -- EmailJs -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script type="text/javascript">
  (function() {
      emailjs.init('yhNW6XPv4co_RzzKL');
  })();
</script>
<script type="text/javascript">
  window.onload = function() {
      document.getElementById('contact-form').addEventListener('submit', function(event) {
          event.preventDefault();
          emailjs.sendForm('service_f7eks47', 'form_b42dl4g', this)
              .then(function() {
                  document.getElementById("contact-form").reset();
                  console.log('SUCCESS!');
              }, function(error) {
                document.getElementById("alert").style.display = 'inline';
                document.getElementById("contact-form").reset();
                console.log('FAILED...', error);
              });
      });
  }
</script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
    <link  rel="stylesheet" type="text/css" href="/stylesheets/contact.css">
    <link  rel="stylesheet" type="text/css" href="/stylesheets/master.css">
    <script async src="/javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/flif.js"></script>
    <title>UGA SSRL</title>
    <link rel="shortcut icon" type="image/png" href="/images/logos/uga-shield-favicon.png" />

  </head>
  <body>

<!-- NAV BAR -->
{% include nav.html %}
<!-- END NAVBAR -->
  <div class="container">
    <h1>Contact Us</h1>
    <div id="contact">
      <div id="map">
        <div class="" id="">
          <!-- TODO abstract away the javascripts -->
            <script>
              var mapStyle = [{
                  "featureType": "all",
                  "elementType": "labels.text.fill",
                  "stylers": [
                      {
                          "saturation": 36
                      },
                      {
                          "color": "#000000"
                      },
                      {
                          "lightness": 40
                      }
                  ]
              },
              {
                  "featureType": "all",
                  "elementType": "labels.text.stroke",
                  "stylers": [
                      {
                          "visibility": "on"
                      },
                      {
                          "color": "#000000"
                      },
                      {
                          "lightness": 16
                      }
                  ]
              },
              {
                  "featureType": "all",
                  "elementType": "labels.icon",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "administrative",
                  "elementType": "geometry.fill",
                  "stylers": [
                      {
                          "color": "#000000"
                      },
                      {
                          "lightness": 20
                      }
                  ]
              },
              {
                  "featureType": "administrative",
                  "elementType": "geometry.stroke",
                  "stylers": [
                      {
                          "color": "#000000"
                      },
                      {
                          "lightness": 17
                      },
                      {
                          "weight": 1.2
                      }
                  ]
              },
              {
                  "featureType": "landscape",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "color": "#000000"
                      },
                      {
                          "lightness": 20
                      }
                  ]
              },
              {
                  "featureType": "poi",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "color": "#000000"
                      },
                      {
                          "lightness": 21
                      }
                  ]
              },
              {
                  "featureType": "road.highway",
                  "elementType": "geometry.fill",
                  "stylers": [
                      {
                          "color": "#000000"
                      },
                      {
                          "lightness": 17
                      }
                  ]
              },
              {
                  "featureType": "road.highway",
                  "elementType": "geometry.stroke",
                  "stylers": [
                      {
                          "color": "#000000"
                      },
                      {
                          "lightness": 29
                      },
                      {
                          "weight": 0.2
                      }
                  ]
              },
              {
                  "featureType": "road.arterial",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "color": "#000000"
                      },
                      {
                          "lightness": 18
                      }
                  ]
              },
              {
                  "featureType": "road.local",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "color": "#000000"
                      },
                      {
                          "lightness": 16
                      }
                  ]
              },
              {
                  "featureType": "transit",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "color": "#000000"
                      },
                      {
                          "lightness": 19
                      }
                  ]
              },
              {
                  "featureType": "water",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "color": "#000000"
                      },
                      {
                          "lightness": 17
                      }
                  ]
              }];

            //initMap from google api, just plug in appropriate classes for DOM elements and appropriate lat & lng
            function initMap() {
              var uluru = {lat: 33.948222, lng: -83.376142};
              var map = new google.maps.Map(document.getElementById('map-id'), {
                zoom: 16,
                center: uluru,
                styles: [
                {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
                {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
                {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
                {
                  featureType: 'administrative.locality',
                  elementType: 'labels.text.fill',
                  stylers: [{color: '#d59563'}]
                },
                {
                  featureType: 'poi',
                  elementType: 'labels.text.fill',
                  stylers: [{color: '#d59563'}]
                },
                {
                  featureType: 'poi.park',
                  elementType: 'geometry',
                  stylers: [{color: '#263c3f'}]
                },
                {
                  featureType: 'poi.park',
                  elementType: 'labels.text.fill',
                  stylers: [{color: '#6b9a76'}]
                },
                {
                  featureType: 'road',
                  elementType: 'geometry',
                  stylers: [{color: '#38414e'}]
                },
                {
                  featureType: 'road',
                  elementType: 'geometry.stroke',
                  stylers: [{color: '#212a37'}]
                },
                {
                  featureType: 'road',
                  elementType: 'labels.text.fill',
                  stylers: [{color: '#9ca5b3'}]
                },
                {
                  featureType: 'road.highway',
                  elementType: 'geometry',
                  stylers: [{color: '#746855'}]
                },
                {
                  featureType: 'road.highway',
                  elementType: 'geometry.stroke',
                  stylers: [{color: '#1f2835'}]
                },
                {
                  featureType: 'road.highway',
                  elementType: 'labels.text.fill',
                  stylers: [{color: '#f3d19c'}]
                },
                {
                  featureType: 'transit',
                  elementType: 'geometry',
                  stylers: [{color: '#2f3948'}]
                },
                {
                  featureType: 'transit.station',
                  elementType: 'labels.text.fill',
                  stylers: [{color: '#d59563'}]
                },
                {
                  featureType: 'water',
                  elementType: 'geometry',
                  stylers: [{color: '#17263c'}]
                },
                {
                  featureType: 'water',
                  elementType: 'labels.text.fill',
                  stylers: [{color: '#515c6d'}]
                },
                {
                  featureType: 'water',
                  elementType: 'labels.text.stroke',
                  stylers: [{color: '#17263c'}]
                }
              ]
              });
              var marker = new google.maps.Marker({
                position: uluru,
                map: map
              });
            }


            var handler = Gmaps.build('Google');
            handler.buildMap({
                internal: {id: 'map-id'},
                provider: {
                  zoom:      16,
                  center:    new google.maps.LatLng(33.948362, -83.375902),
                  mapTypeId: google.maps.MapTypeId.ROADMAP,
                  styles:    mapStyle
                }
              },
              function(){
              }
            );
            handler.addMarker({
              lat: 33.948362,
              lng: -83.375902,
              title: 'SmallSat Lab',
              click: function(e) {
                alert('This is the lab!');
              }
            });
          </script>


          <div class="" style="text-align:center;">
            <iframe
              width="100%"
              height="450"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAQA59VHUySY5niNcvw3qrZg9Q9rF0qEeo
                &q=Sanford+Dr+,Athens+,GA+30602+,USA" allowfullscreen>
            </iframe>
          </div>
        </div>
        <address>
        <h5 style="color: white;margin-bottom:0px;">Room 107 <br>
          UGA Physics Building <br>
          Sanford Dr, Athens, GA 30602, USA</h5>
        </address>
      </div>
      <div class="contact-form">
          <div id="alert" style="display: none;">
            An error occurred please contact us directly ssrluga@uga.edu
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          </div>
          <form id= "contact-form" >
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">Name</label>
                <div class="col-sm-12">
                  <input type="text" name="from_name" class="form-control" placeholder="Your Name" required="">
                </div>
              </div>
              <br>
              <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-sm-12">
                  <input type="text" name="from_email" class="form-control" placeholder="Your Email" required="">
                </div>
              </div>
              <br>
              <div class="form-group">
                <label for="inputSubject" class="col-lg-2 control-label">Subject</label>
                <div class="col-sm-12">
                  <input type="text" name="subject" class="form-control" placeholder="Message Subject" required="">
                </div>
              </div>
              <br>
              <div class="form-group">
                <label for="inputMessage" class="col-lg-2 control-label">Message</label>
                  <div class="col-sm-12">
                    <textarea type="text" name="message" class="form-control" rows="5" placeholder="Your Message..." required=""></textarea>
                  </div>
              </div>
              <br>
              <div class="form-group">
                <div class="col-sm-12">
                  <br><br>
                  <input type="submit" value="Send" class="btn btn-info btn-lg" style="display: block; width: 100%;">
                  <!-- Send Message -->
                  <!-- </button> -->
                </div>
              </div>
          </form>
          <!--
            <div class="form-group">
              <br>
              <br>

              <br>
              <br>

              <br>
              <br>
              </div>
           -->
          <!-- <p style="color: black;">Please help us by reporting bugs while our site is still in alpha. If the above form does not work for you, try this simple button:</p>
          <a style="color: black;" class="btn-box btn-ani hvr-btn" href="mailto:calebashmoreadams@gmail.com">Contact</a> -->
        </div>
      </div>
    </div>
    <h2>Contacts:</h2>
    <div class="contact-info">
      <div class="" style="margin-right: 1.5em">
        <h3>Principal Investigator</h3>
        <h3>Dr. Deepak Mishra</h3>
        <p>dmishra@uga.edu</p>
      </div>
      <div class="" style="margin-right: 1.5em">
	      <h3>Lab Manager</h3>
	      <h3>Sydney Whilden</h3>
	      <p>sydney.whilden25@uga.edu</p>
      </div>
      <div class="" style="margin-right: 1.5em">
        <h3>MOCI Chief Engineer</h3>
        <h3>Ryan Hughes</h3>
        <p>ryanhughes@uga.edu</p>
      </div>
      <div class="" style="margin-right: 1.5em">
        <h3>MOCI Program Manager</h3>
        <h3>Lee  Tran</h3>
        <p>lee.tran@uga.edu</p>
      </div>
      <div class="" style="margin-right: 1.5em">
        <h3>MEMESat-1 Chief Engineer</h3>
        <h3>Isaac Garon</h3>
        <p>isaac.garon@uga.edu</p>
      </div>
      <div class="" style="margin-right: 1.5em">
        <h3>MEMESat-1 Program Manager</h3>
        <h3>Aiden Hammond</h3>
        <p>aiden.hammond@uga.edu</p>
      </div>
      <div class="" style="margin-right: 1.5em">
        <h3>General Inquiries</h3>
        <h3>Lab Contact</h3>
        <p>ssrluga@uga.edu</p>
      </div>
    </div>
    <div class="container">

      <!-- used for google maps api -->
      <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXlymV-dxE4b0nOq0n6n6g9snwn_MDRkQ&amp;callback=initMap">
      </script>
    </div>
<!-- START FOOTER -->
{% include footer.html %}
<!-- END FOOTER -->


</div>

  <script type="text/javascript">
    if (screen.width <= 699) {
      document.getElementById("departments").style.display = "none"
      //document.getElementById("footer").setAttribute("margin-top","100%");
    }else{

    }
    console.log(screen.width);
  </script>
  </body>
</html>
