<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109138593-1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
    <script async src="/javacripts/bootstrap.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109138593-1');
    </script>

    <style media="screen">
      #Short-img{
        display: none;
      }
      @media only screen and (max-width: 699px) {
        #Short-img{
          display: block;
        }
        #Long-img{
          display: none;
        }
      }
    </style>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/research.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/lab.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/master.css">
    <script type="text/javascript" src="/javascripts/flif.js"></script>
    <title></title>
  </head>
  <body>

<!-- NAV BAR -->
<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top" style=" min-height:50px; position:sticky; top:0px;">
  <div class="container" style=" height:76px; margin-bottom:0px;">
    <div max-width="100">
      <a class="navbar-brand" href="/">
        <img src="/images/ssrl.svg" alt="" width="40%" height="40%">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-links justify-content-end" style="color:white;">

        <li class="nav-item">
          <a class="nav-link" href="missions">Missions </a>
        </li>

        <li class="nav-item external">
          <a class="nav-link" href="research">Publications</a>
        </li>

        <li class="nav-item external">
          <a class="nav-link" href="software">Software</a>
        </li>

        <!-- the dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown">
            Our Organization
          </a>
          <div class="dropdown-menu pull-left" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item drop-colors" href="about">Who We Are</a>
            <a class="dropdown-item drop-colors" href="alumni">Alumni</a>
            <a class="dropdown-item drop-colors" href="founding">Founding & History</a>
            <a class="dropdown-item drop-colors" href="facilities">Facilities</a>
            <a class="dropdown-item drop-colors" href="outreach">Outreach</a>
            <a class="dropdown-item drop-colors" href="partners">Partners</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" target="_blank"
            href="https://docs.google.com/forms/d/e/1FAIpQLSdyHY86_eDEmpmfucCz8MHRFrSTfcvBVdN4TZ1q5bQgzi1cgA/viewform?usp=sf_link">Apply</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="contact">Contact Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://gail.uga.edu/commit?search=90072000&desonly=1">Donate <span
              class="sr-only">(current)</span></a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<!-- END NAVBAR -->
    <div class="container">
      <img id="Long-img" src="/images/logos/ssrl_logo_long.png" class="img-fluid" alt="Responsive image" style="margin-top:100px">
      <img id="Short-img" src="/images/logos/ssrl_logo_short.png" class="img-fluid" alt="Responsive image" style="margin-top:100px">
      <p style="margin-top:50px;margin-bottom:64px;">
      SSRL aims “to teach, to develop, and to discover” through undergraduate involvement. For years to come the lab hopes to continue: “teaching” students how to build and use space ready equipment, “developing” the local community by getting local K-12 students interested in both space exploration and the University, and “discovering”, by using space based equipment to observe phenomenon on Earth from an orbital perspective through national funding opportunities, creating new technologies that can be used on future missions, and demonstrating how small satellite systems can make large scientific discoveries
      </p>

      <hr>

      <div class="mission-box" style="font-size:20px;color:white;">
        <h2 class="mission-header" align="center">SPOC Sat: <i>Spectral Ocean Color Satellite</i></h2>
        <div class="icon-box">
          <img class="icon" src="/images/cubesat/SPOC_patch.png" alt="" style="max-width:300px;">
        </div>
        <h4 style="color:white;">Mission Overview</h2>
        <p style="color:white;">
          The SPectral Ocean Color (SPOC) satellite mission, was funded through NASA's second iteration of the Undergraduate Student Instrument Project (USIP) in mid 2016. The SPOC's mission shall acquire moderate resolution imagery across a wide range of spectral bands to monitor coastal ecosystems and ocean color. SPOC will acquire image data between 433 and 866 nm to monitor 1) coastal wetlands status, 2) estuarine water quality including wetland biophysical characteristics and phytoplankton dynamics, and 3) near-coastal ocean productivity. SPOC shall use multispectral remote sensing techniques to quantify vegetation health, primary productivity, ocean productivity, suspended sediments, and organic matter in coastal regions.
          The uniqueness of SPOC lies in its payload, a 16 band adjustable multi spectral imager, called SPOC eye. The payload structure for SPOC was designed by Cloudland Instruments and the UGA SSRL SPOC team is actively building and refining the optical structure.
        </p>
        <h4 style="color:white;">Launch Information</h3>
        <p style="color:white;">
          SPOC has been chosen for NASA's eighth class of candidates through the CubeSat Launch Initiative. Through this initiive SPOC is scheduled to be launched either on October 19, 2019 on an Anteres II from Wallops, VA.
        </p>
      </div>

      <hr>

      <div class="mission-box" style="font-size:20px;color:white;">
        <h2 class="mission-header" align="center">MOCI: <i>Multi-view On-board Computational Imager</i></h2>
        <div class="icon-box">
          <img class="icon" src="/images/cubesat/MOCI_Patchv3.png" alt="" style="max-width:300px;">
        </div>
        <h4 style="color:white;">Mission Overview</h2>
        <p style="color:white;">
          The Multi-view Onboard Computational Imager (MOCI) mission shall acquire imagery of the Earth's surface from (Low Earth Orbit) LEO and perform near real time Structure from Motion (SfM) at a landscape scale using custom algorithms and off the shelf, high performance computational units. The MOCI mission will also identify and map coastal phenomena such as sediment plumes and algal blooms while training students in STEM related fields. Efficient data compression, feature detection, feature matching, and SfM processing techniques of space-based imagery will be performed on board the spacecraft as a proof-of-concept of high performance, on board processing capabilities. 3D models produced by the MOCI satellite will take the form of Digital Surface Models (DSM) as their end product for quick data downlink.
        </p>
        <p>
          In early 2018 the student team in the UGA SSRL was selected as one of only two winners of the US Air Force Research Laboratory University Nanosatellite Program (Competition NS-9) Flight Selection Review for our MOCI (Multi-view Onboard Computational Imager) spacecraft. The team is now actively building MOCI and is in Phase B of the process.
        </p>
        <h4 style="color:white;">Launch Information</h3>
        <p style="color:white;">
          MOCI is currently in phase B of its construction with an expected delivery date of Q2 2020.
        </p>
      </div>


      <div class="mission-box" style="font-size:20px;color:white;">
        <h2 class="mission-header" align="center">Broader Interests </i></h2>
        <h4 style="color:white;">Reserach Interests</h2>
        <p style="color:white;">The lab is currently focused on advancing
          <ul>
              <li>Custom sensors for environmental monitoring</li>
              <li>Earth based remote sensing</li>
              <li>High performance computational boards utilizing Graphics Processing Units</li>
              <li>Feature detection algorithms</li>
              <li>Neural networks specifically tailored to classify and track surface based objects</li>
              <li>Interconnectivity of multi node systems</li>
              <li>Quantum cyber security</li>
          </ul>
        </p>
      </div>


<!-- START FOOTER -->
<footer>
  <style media="screen">
    li{
      display: inline;
      padding: 0px 10px;
    }
  </style>
  <hr>
  <div class="footer-container">
    <div class="departments-container">
      <div class="footer-section">
        <p class="footer-header">Departments and Colleges</p>
        <ul class="departments">
          <li><a target="_blank" href="http://geography.uga.edu">Geography</a></li>
          <li><a target="_blank" href="http://www.math.uga.edu/">Mathematics</a></li>
          <li><a target="_blank" href="https://www.physast.uga.edu/">Physics and Astronomy</a></li>
          <li><a target="_blank" href="http://www.engineering.uga.edu/">Engineering</a></li>
          <li><a target="_blank" href="http://www.marsci.uga.edu/">Marine Sciences</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <p class="footer-header">Contact Us</p>
        <ul class="departments">
          <li><a target="_blank" href="contact">Contact Us</a></li>
          <li><a target="_blank" href="http://www.uga.edu">The University of Georgia</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <p class="footer-header">More</p>
        <ul class="departments">
          <li><a target="_blank" href="http://www.crms.uga.edu">Center For GeoSpatial Research</a></li>
          <li><a target="_blank" href="http://research.uga.edu/">UGA Office of VP of Research</a></li>
          <li><a target="_blank" href="https://curo.uga.edu/">Center for Undergraduate Research</a></li>
        </ul>
      </div>
    </div>

    <ul class="socials">
      <li><a class="social" href="https://twitter.com/ugassrl" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></li>
      <li><a class="social" href="https://www.facebook.com/ugassrl/" target="_blank"><i class="fab fa-facebook-square fa-2x" target="_blank"></i></a></li>
      <li><a class="social" href="https://www.youtube.com/channel/UCuT01f5_oQ95WRkoziZUF0Q" target="_blank"><i class="fab fa-youtube fa-2x" target="_blank"></i></a></li>
      <li><a class="social" href="https://soundcloud.com/uga-small-sat-lab" target="_blank"><i class="fab fa-soundcloud fa-2x" target="_blank"></i></a></li>
      <li><a class="social" href="https://github.com/spaceysciences" target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
    </ul>

  </div>
  <br><br>
</footer>
<!-- END FOOTER --></html>
