---
title: Partners
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109138593-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109138593-1');
    </script>
    <script async src="/javascripts/bootstrap.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/lab.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/master.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/partners.css">

    <title>UGA SSRL</title>
    <link rel="shortcut icon" type="image/png" href="/images/logos/uga-shield-favicon.png" />

  </head>
  <body>

<!-- NAV BAR -->
{% include nav.html %}

<!-- END NAVBAR -->
    
  <!-- Page Content -->
  <div id="tf-works">
    <div class="container">
      <img src="/images/logos/ssrl_logo_long-new.png" class="img-fluid" alt="Responsive image" style="margin-bottom:12px;">
      <h1 class="partner-title" style="margin:42px 42px;"> Thank You To Our Partners and Affiliates!</h1>

      <div class="partner-grid">

        <a href="https://www.nasa.gov/ames">
          <div class="partner">
            <div class="partner-box">              
              <img src="/images/logos/color-ames.png" alt="ames" >
              <div class="guide-text">
                <strong>Learn More</strong>
              </div>
              <!-- <h3 class="guide-text" style="color:black;"> Learn More</h3> -->
              <div class="overlay">
                <div class="partner-text">
                  <h1>NASA AMES</h1>
                  <p>
                    We have a space act agreement with NASA Ames for testing our
                    Cubesats.
                  </p>
                </div>
              </div>
            </div>
            
          </div>
        </a>

        <a href="https://ntrs.nasa.gov/citations/20190028944">
          <div class="partner">
            <div class="partner-box">
                <img src="/images/logos/nasa_logo.png" alt="nasa" >
                <div class="guide-text">
                  <strong>Learn More</strong>
                </div>
                <div class="overlay">
                  <div class="partner-text">
                    <h1 >NASA USIP</h1>
                    <p>
                      Funding agency for the SPOC mission.
                    </p>
                  </div>
                </div>
            </div>
          </div>
        </a>

        <a href="http://prs.afrl.kirtland.af.mil/UNP/">
          <div class="partner">
            <div class="partner-box">
              <img src="/images/logos/unp_logo3.png" alt="unp" >
              <div class="guide-text">
                <strong>Learn More</strong>
              </div>
              <div class="overlay">
                  <div class="partner-text">
                    <h1>University Nanosat Program</h1>
                    <p>
                      Project partner for the MOCI mission.
                    </p>
                  </div>
                </div>
            </div>
          </div>
        </a>

        <a href="http://www.af.mil/About-Us/Fact-Sheets/Display/Article/104463/air-force-research-laboratory/">
          <div class="partner">
            <div class="partner-box">
              <img src="/images/logos/air_force_logo.png" alt="" >
              <div class="guide-text">
                <strong>Learn More</strong>
              </div>
              <div class="overlay">
                <div class="partner-text">
                  <h1>AFRL</h1>
                  <p>
                    Funding Agency for MOCI.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </a>

        <a href="https://gasgc.org/wp/">
          <div class="partner">
            <div class="partner-box">
              <img src="/images/logos/GSGC_Logo.png" alt="gsgc" >
              <div class="guide-text">
                <strong>Learn More</strong>
              </div>
              <div class="overlay">
                <div class="partner-text">
                  <h1>Georgia Space Consortium</h1>
                  <p>
                    Project Partner for the SPOC mission.
                  </p>
                </div>
              </div>
              
            </div>
          </div>
        </a>

        <a href="http://www.georgia.org/business-resources/georgia-centers-of-innovation/center-innovation-aerospace/">
          <div class="partner">
            <div class="partner-box">
                <img src="/images/logos/GAlogo.aerospace.jpg" alt="" >
                <div class="guide-text">
                  <strong>Learn More</strong>
                </div>
                <div class="overlay">
                  <div class="partner-text">
                    <h1>Georgia Space Working Group</h1>
                    <p>
                      SSRL works with the space working group to help with the
                      overall vision of Georgias role in the aerospace community.
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </a>

        <a href="https://www.agi.com/home">
          <div class="partner">
            <div class="partner-box">
                <img src="/images/logos/AGI_logo_Horiz.png" alt="agi">
                <div class="guide-text">
                  <strong>Learn More</strong>
                </div>
                <div class="overlay">
                  <div class="partner-text">
                    <h1>AGI</h1>
                    <p>provides software for students to use in course work.</p>
                </div>
              </div>
            </div>
          </div>
        </a>

        <a href="http://gacoast.uga.edu/">
          <div class="partner">
            <div class="partner-box">
              <img src="/images/logos/seagrant.png" alt="gacoast" >
              <div class="guide-text">
                <strong>Learn More</strong>
              </div>
              <div class="overlay">
                <div class="partner-text">
                  <h1>Georgia Sea Grant</h1>
                  <p>
                    Project partner with SPOC to help with insitu data collection
                    on Sapelo Island.
                  </p>
                </div>
            </div>              
            </div>
          </div>
        </a>

        <a href="https://www.jhuapl.edu/">
          <div class="partner">
            <div class="partner-box">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/JHU_APL_logo.png/440px-JHU_APL_logo.png" alt="">
              <div class="guide-text">
                <strong>Learn More</strong>
              </div>
              <div class="overlay">
                <div class="partner-text">
                  <h1>Johns Hopkins APL</h1>
                  <p>
                    SSRL is working with APL on advancing advanced processors in
                    the space environment
                  </p>
                </div>
            </div>         
            </div>
          </div>
        </a>

	<a href="https://www.spaceworks.aero/">
          <div class="partner">
            <div class="partner-box">
              <img src="/images/logos/SpaceWorks.png" alt="" >
              <div class="guide-text">
                <strong>Learn More</strong>
              </div>
              <div class="overlay">
                <div class="partner-text">
                  <h1>SpaceWorks</h1>
                  <p>
                    SSRL is working with SpaceWorks in developing new and innovative space system solutions
                  </p>
                </div>
            </div>       
              
            </div>
          </div>
        </a>

      </div>
    </div>
<!-- START FOOTER -->
{% include footer.html %}
<!-- END FOOTER -->  </div>
  <!-- END IF NOT MOBILE DEVICE -->
   <!--  TODO: eventually add else statement to view doc tree in mobile pages -->
</section>

  <script type="text/javascript">
    if (screen.width <= 699) {
      document.getElementById("departments").style.display = "none"
    }else{

    }
    console.log(screen.width);
  </script>
  </body>
</html>
