<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="about UGA SSRL, UGA SSRL, UGA Satellite team">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109138593-1"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-109138593-1');
  </script>
  <% include partials/head %>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/lab.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/master.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/team.css">
    <script type="text/javascript" src="/javascripts/flif.js"></script>
    <script type="text/javascript" src="/javascripts/team.js"></script>
    <title> UGA SSRL </title>
    <link rel="shortcut icon" type="image/png" href="../public/images/logos/uga-shield-favicon.png"/>
  </head>

<body>

  <% include partials/nav %>

    <div id="header-img">
      <!-- <canvas data-polyflif-src="/images/SSRLProfiles/team.flif" id="team_pic"></canvas> -->
      <div id="header">
        <p id="header_p">In 2015, 3 students at the University of Georgia set
          out to build a spacecraft funded by Kickstarter. They reached out to
          faculty and received funding NASA and the Air Force.
          <br><br>
          The Small Satellite Research Laboratory was founded in 2016 with 8
          faculty and 15 undergraduate students. The lab is now building two
          cubesats for Low Earth Orbit and contains over 50 undergraduate
          students, 5 graduate students, and 12 faculty. The Small Satellite
          Research Laboratory had its first satellite, SPOC, deployed from the
          International Space Station in 2020.
          <br><br>
          <a href="missions">Learn More</a>
        </p>
      </div>
    </div>

    <br>
    <br>
    <center>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-ZDZ8wQPj24" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    </center>

    <div class="container">

      <!-- <h2 class="" align="center" style="margin-bottom:42px;">Overview</h2> -->
      <p id="header_p" style="color: white;">
        The SSRL continues to fulfill many of the University’s mission goals
        by:
        <br><br>1) Bringing national and international recognition to UGA through
        its development of cutting edge technology;
        <br><br>2) “Serving a diverse and well prepared student body and promoting
        high levels of student
        achievement” through the training of undergraduate students in STEM
        related fields from a diverse set of majors; <br><br>3) “Promoting
        instructional quality and effectiveness and enhancing intuitionally
        relevant faculty qualifications” by teaching students the steps
        involved in designing, building, and testing space hardware as well
        as navigating the gauntlet that is procedure writing, budgeting, and
        management. These skills are not only applicable to the academic world
        but also the general workforce.
      </p>
      <br>

      <h1 class="section">Principal Investigator</h1>
      <div id="section-principleinvestigators" class="profile-section"></div>

      <h1 class="section">Lab Manager</h1>
      <div id="section-labmanagers" class="profile-section"></div>

      <h1 class="section">Graduate Students</h1>
      <div id="section-graduatestudents" class="profile-section"></div>

      <h1 class="section">Undergraduate Leadership</h1>
      <div id="section-leadership" class="profile-section"></div>

      <h1 class="section">Software Team</h1>
      <div id="section-software" class="profile-section"></div>

      <h1 class="section">Hardware Team</h1>
      <div id="section-hardware" class="profile-section"></div>

      <h1 class="section">Mechanical Team</h1>
      <div id="section-mechanical" class="profile-section"></div>

      <h1 class="section">Mission Operations Team</h1>
      <div id="section-missionops" class="profile-section"></div>

      <h1 class="section">Lab Operations Team</h1>
      <div id="section-labops" class="profile-section"></div>

      <h1 class="section">Ground Station Team</h1>
      <div id="section-groundstation" class="profile-section"></div>

      <h1 class="section">Data Team</h1>
      <div id="section-data" class="profile-section"></div>

      <h1 class="section">Faculty Investigators</h1>
      <div id="section-associatedfaculty" class="profile-section"></div>



      <% include partials/footer %>
    </div>


    <!-- <h1 class="section">Alumni</h1> -->
    <!-- <p class="p-text">Graham Grable • Megan Le Corre • Tyler Bugbee • Thoai Pham • AJ Banerjee • Erick Galvinales • Grant Simpson • Cindy Lieu • Kayla Gilbert • Ashley Huynh • Rick Ray • Byron Williams • Parker Ensing • Alex Mailloux • Natalie Davis • Christine Yang • Juweek Adolphe • Ryan Babaie • Helena Bales • Chrissie Brady • Kenny Chochran • Warren Eshpeter • Jaicob Stewart • Nicholas Szakal • Nicholas Gravina • Josh O'Shields • Todd Emmenegger • Alexander Winkles • Esa Serog • Dustin Mizelle • Paul Keith • Benson Chau • Logan Skidmore • Kyle Hamilton • Kyle Millar • John Courtney • Tiffany Hsieh</p> -->

    </div>



    <script type="text/javascript">
      if (screen.width <= 699) {
        document.getElementById("departments").style.display = "none"
      } else {

      }
      console.log(screen.width);
    </script>
</body>

</html>