<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="UGA Alumni, UGA SSRL Alumni">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109138593-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109138593-1');
    </script>
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/lab.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/master.css">
    <link  rel="stylesheet" type="text/css" href="/stylesheets/team.css">
    <script async src="/javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/flif.js"></script>
    <script type="text/javascript" src="/javascripts/team.js"></script>
    <title></title>
  </head>

  <body>

    <% include partials/nav %>

    <%# <h1> Page Under Construction </h1> %>


    <div class="container">


      <div id="header">
        <canvas data-polyflif-src="/images/SSRLProfiles/team(old).flif" id="team_pic"></canvas>
        <p id="header_p">The Alumni of the UGA SSRL, with their hard work and dedication,
          have shaped the organization into what it is today. Without them, UGAs space program
          would not exist. We thank them for their time and continued support.</p>
      </div>

      <h1 class="section">Alumni</h1>

      <h2 class="">2019</h2>
      <div id="section-alumni2019" class="profile-section"></div>

      <h2 class="">2018</h2>
      <div id="section-alumni2018" class="profile-section"></div>

      <h2 class="">2017</h2>
      <div id="section-alumni2017" class="profile-section"></div>

      <h2 class="">2016</h2>
      <div id="section-alumni2016" class="profile-section"></div>

      <% include partials/footer %>

    </div>


  <script type="text/javascript">
    if (screen.width <= 699) {
      document.getElementById("departments").style.display = "none"
      //document.getElementById("footer").setAttribute("margin-top","100%");
    }else{

    }
    console.log(screen.width);
  </script>
  </body>

  </body>





</html>
