<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109138593-1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
    <script async src="/javacripts/bootstrap.js"></script>
    <% include partials/head %>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109138593-1');
    </script>

    <style media="screen">
      #Short-img{
        display: none;
      }
      @media only screen and (max-width: 699px) {
        #Short-img{
          display: block;
        }
        #Long-img{
          display: none;
        }
      }
    </style>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/research.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/lab.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/master.css">
    <script type="text/javascript" src="/javascripts/flif.js"></script>
    <title></title>
  </head>
  <body>

    <% include partials/nav %>

    <div class="container">
      <img id="Long-img" src="/images/logos/ssrl_logo_long.png" class="img-fluid" alt="Responsive image" style="margin-top:100px">
      <img id="Short-img" src="/images/logos/ssrl_logo_short.png" class="img-fluid" alt="Responsive image" style="margin-top:100px">
      <p style="margin-top:50px;margin-bottom:64px;">
        For the first time in history, the University of Georgia is going to space – and it’s the students who are taking us there! These students will make history for the university by providing it with its first ever spacecrafts, ground station, and space systems research lab. Our goal is to place UGA among the top space faring Universities in the world and to give UGA a permanent presence in outer space. We want to teach students how to build satellites and space ready payloads. UGA, and its students, are part of the modern space race that uses small satellites called CubeSats to perform ground breaking science and push the limits of our technological capabilities in outer space.  The project itself is student-built and student led. In conjunction with university professors and resources, students are building the first cube satellites to perform a adjustable multi spectral analysis and high performance computing in low earth orbit.
      </p>

      <hr>

      <div class="mission-box" style="font-size:20px;color:white;">
        <h2 class="mission-header" align="center">SPOC Sat: <i>Spectral Ocean Color Satellite</i></h2>
        <div class="icon-box">
          <img class="icon" src="/images/cubesat/SPOC_patch.png" alt="" style="max-width:300px;">
        </div>
        <h4 style="color:white;">Mission Overview</h2>
        <p style="color:white;">
          The SPectral Ocean Color (SPOC) satellite mission, was funded through NASA’s second iteration of the Undergraduate Student Instrument Project (USIP) in mid 2016.The SPOC's mission is to acquire moderate resolution imagery across a wide range of spectral bands to monitor coastal ecosystems and ocean color. SPOC will acquire image data between 433 and 866 nm to monitor 1) coastal wetlands status, 2) estuarine water quality including wetland biophysical characteristics and phytoplankton dynamics, and 3) near-coastal ocean productivity. SPOC shall use multispectral remote sensing techniques to quantify vegetation health, primary productivity, ocean productivity, suspended sediments, and organic matter in coastal regions.
          The uniqueness of SPOC lies in its payload, a 16 band adjustable multi spectral imager, called SPOC eye. The payload structure for SPOC was designed by Cloudland Instruments and the UGA SSRL SPOC team is actively building and refining the optical structure.
        </p>
        <h4 style="color:white;">Launch Information</h3>
        <p style="color:white;">
          SPOC has been chosen for NASA’s eighth class of candidates through the CubeSat Launch Initiative. Through this initiive SPOC is scheduled to be launched either in Q4 of 2019.
        </p>
      </div>

      <hr>

      <div class="mission-box" style="font-size:20px;color:white;">
        <h2 class="mission-header" align="center">MOCI: <i>Multi-view On-board Computational Imager</i></h2>
        <div class="icon-box">
          <img class="icon" src="/images/cubesat/MOCI_patchv3.png" alt="" style="max-width:300px;">
        </div>
        <h4 style="color:white;">Mission Overview</h2>
        <p style="color:white;">
          The Multi-view Onboard Computational Imager (MOCI) mission will acquire imagery of the Earth’s surface from (Low Earth Orbit) LEO and perform near real time Structure from Motion (SfM) at a landscape scale using custom algorithms and off the shelf, high performance computational units. The MOCI mission will also identify and map coastal phenomena such as sediment plumes and algal blooms while training students in STEM related fields. Efficient data compression, feature detection, feature matching, and SfM processing techniques of space-based imagery will be performed on board the spacecraft as a proof-of-concept of high performance, on board processing capabilities. 3D models produced by the MOCI satellite will take the form of Digital Surface Models (DSM) as their end product for quick data downlink.
        </p>
        <p>
          In early 2018 the student team in the UGA SSRL was selected as one of only two winners of the US Air Force Research Laboratory University Nanosatellite Program (Competition NS-9) Flight Selection Review for our MOCI (Multi-view Onboard Computational Imager) spacecraft. The team is now actively building MOCI and is in Phase B of the process.
        </p>
        <h4 style="color:white;">Launch Information</h3>
        <p style="color:white;">
          MOCI is currently in phase B of its construction with an expected delivery date of Q2 2020.
        </p>
      </div>

    </div>

    <% include partials/footer %>

  <script type="text/javascript">
    if (screen.width <= 699) {
      document.getElementById("departments").style.display = "none"
    }else{

    }
    console.log(screen.width);
  </script>
  </body>
</html>
