<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109138593-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109138593-1');
    </script>
    <script async src="/javascripts/bootstrap.js"></script>
    <% include partials/head %>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
    <link  rel="stylesheet" type="text/css" href="/stylesheets/lab.css">
    <link  rel="stylesheet" type="text/css" href="/stylesheets/research.css">
    <link  rel="stylesheet" type="text/css" href="/stylesheets/master.css">
    <script type="text/javascript" src="javascripts/flif.js"></script>
    <script type="text/javascript" src="/javascripts/research.js"></script>
    <title></title>
  </head>
  <body>

    <% include partials/nav %>

    <section id="wrapper toggled" class="container">

    <div class="row">

  </div> <!-- end row -->

  <!-- Page Content -->
  <div id="tf-works">
    <div class="container">
      <img src="/images/logos/ssrl_logo_long.png" class="img-fluid" alt="Responsive image" style="margin-bottom:12px;">
      <h1 class="partner-title" style="margin:42px 42px;">Our Partners and Affiliates:</h1>

      <div class="partner-grid">

        <a href="https://www.nasa.gov/ames">
          <div class="partner-container">
            <div class="partner-logo">
              <img src="/images/logos/color-ames.png" alt="">
            </div>
            <h2 class="partner-title">NASA AMES</h2>
          </div>
        </a>
        <a href="https://www.nasa.gov/content/undergraduate-student-instrument-project-usip/">
          <div class="partner-container">
            <div class="partner-logo">
              <img src="/images/logos/nasa_logo.png" alt="">
            </div>
            <h2 class="partner-title">NASA USIP</h2>
          </div>
        </a>
        <a href="#">
          <div class="partner-container">
            <div class="partner-logo">
              <img src="/images/logos/unp_logo3.png" alt="">
            </div>
            <h3 class="partner-title">University Nanosat Program</h3>
          </div>
        </a>
        <a href="http://www.af.mil/About-Us/Fact-Sheets/Display/Article/104463/air-force-research-laboratory/">
          <div class="partner-container">
            <div class="partner-logo">
              <img src="/images/logos/air_force_logo.png" alt="">
            </div>
            <h2 class="partner-title">AFRL</h2>
          </div>
        </a>
        <a href="https://gasgc.org/wp/">
          <div class="partner-container">
            <div class="partner-logo">
              <img src="/images/logos/GSGC_Logo.png" alt="">
            </div>
            <h3 class="partner-title">Georgia Space Consortium</h3>
          </div>
        </a>
        <a href="http://www.georgia.org/business-resources/georgia-centers-of-innovation/center-innovation-aerospace/">
          <div class="partner-container">
            <div class="partner-logo">
              <img src="/images/logos/GAlogo.aerospace.jpg" alt="">
            </div>
            <h3 class="partner-title">Georgia Space Working Group</h3>
          </div>
        </a>
        <a href="https://www.agi.com/home">
          <div class="partner-container">
            <div class="partner-logo">
              <img src="/images/logos/AGI_logo_Horiz.png" alt="">
            </div>
            <h2 class="partner-title">AGI</h2>
          </div>
        </a>
        <a href="http://gacoast.uga.edu/">
          <div class="partner-container">
            <div class="partner-logo">
              <img src="/images/logos/Ga_Sea_Grant.png" alt="">
            </div>
            <h3 class="partner-title">Georgia Sea Grant</h3>
          </div>
        </a>


      </div>
    </div>
  </div>
  <!-- END IF NOT MOBILE DEVICE -->
   <!--  TODO: eventually add else statement to view doc tree in mobile pages -->
</section>


    <% include partials/footer %>
  <script type="text/javascript">
    if (screen.width <= 699) {
      document.getElementById("departments").style.display = "none"
    }else{

    }
    console.log(screen.width);
  </script>
  </body>
</html>
