<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109138593-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109138593-1');
    </script>
    <script async src="/javascripts/bootstrap.js"></script>
    <% include partials/head %>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
    <link  rel="stylesheet" type="text/css" href="/stylesheets/lab.css">
    <link  rel="stylesheet" type="text/css" href="/stylesheets/research.css">
    <script type="text/javascript" src="javascripts/flif.js"></script>
    <script type="text/javascript" src="/javascripts/research.js"></script>
    <title></title>
  </head>
  <body>

    <% include partials/nav %>

    <section id="wrapper toggled" class="container">

    <div class="row">

  </div> <!-- end row -->

  <hr>
  <!-- Page Content -->
  <div id="tf-works">
    <div class="container">
      <!-- header for docs page -->
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Our Publications and Research</h1>
        </div>
      </div>

      <div class="categories">
        <ul class="cat list-inline text-center">
          <li><h4>Filter by Type:</h4></li>
          <select id="filter-select" name="">
             <option value="all">All</option>
             <option value="poster">Posters</option>
             <option value="presentation">Presentations</option>
             <option value="abstract">Abstracts/Papers</option>
          </select>
        </ul>
        <div class="clearfix"></div>
      </div>

      <div id="container-documents" >

      </div>

    </div>
  </div>
  <!-- END IF NOT MOBILE DEVICE -->
   <!--  TODO: eventually add else statement to view doc tree in mobile pages -->
</section>


    <% include partials/footer %>
  <script type="text/javascript">
    if (screen.width <= 699) {
      document.getElementById("departments").style.display = "none"
    }else{

    }
    console.log(screen.width);
  </script>
  </body>
</html>
