.outreach{
	display: flex;
	flex-direction: row;
  width: 100%
}
.outreach .sub-title{
  display: inline;
  font-weight: bolder;
}
.outreach .sub{
  display: inline;
  margin-right: 40px;
}
.outreach .description{
	display: inline;
  margin: 0 0 0 20px;
}
.description p{
  overflow-x: auto;
}
.outreach-img{
	min-width: 200px;
	min-height: 200px;
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
